<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" charset="utf-8">
    <link rel="alternate" type="application/atom+xml" href="/articles.atom" title="Feed for Ruby 1.9 or Bust">
    <title>{{ page.title }}</title>
  </head>
  <body id="blog">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/'">
        <h1>Ruby 1.9 Or Bust</h1>
        <div class="right">
<a href='http://www.pledgie.com/campaigns/3336'><img alt='Click here to lend your support to: Ruby 1.9 Or Bust and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/3336.png?skin_name=chrome' border='0' /></a>
        </div>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="/">Intro</a>
          </li>
          <li id="navi_latest">
            <a href="{{ site.posts.first.url }}">Latest</a>
          </li>
          <li id="navi_contact">
            <a href="/contact.html">Contact</a>
          </li>
          <li id="navi_thanks">
            <a href="/thanks.html">Thanks</a>
          </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          {{ content }}
                    
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_url = "http://ruby19orbust.com/{{ page.url }}";
            var disqus_title ="{{ page.title }}";
            var disqus_identifier = "{{ page.url }}";

            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://ruby-1-9-or-bust.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=ruby-1-9-or-bust">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>          
        </div>
        <div id="sidebar">
          <div class="item">
            <!-- Blog   -->
            <h4>
              <a href="../../../atom.xml" id="rss_feed" name="rss_feed">Blog Post Feed</a>
              <img src="../../../images/rss.gif"></img>
            </h4>
            <p>
              {% for post in site.posts %} 
                <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <div class="item">
            <img src="/images/8535.png"></img>
          </div>
          <div class="item">
          </div>
        </div>
      </div>
      <div id="footer">
        <p><a href="http://notch8.com">A Notch8 endeavor</a> | <a href="http://github.com/notch8/ruby-1-9-or-bust/tree/gh-pages" title="ruby-1-9-or-bust's ruby-1-9-or-bust at gh-pages &mdash; GitHub">website source</a> | generated by <a href="http://github.com/mojombo/jekyll">jekyll</a> and <a href="http://drnic.github.com/jekyll_generator">jekyll_generator</a></p>
      </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    (function() {
    	var links = document.getElementsByTagName('a');
    	var query = '?';
    	for(var i = 0; i < links.length; i++) {
    	if(links[i].href.indexOf('#disqus_thread') >= 0) {
    		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    	}
    	}
    	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/ruby-1-9-or-bust/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8635145-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
